<%= render 'layouts/navbar'%>

<main class="container mt-5">
  <h3 class="fs-3 fw-bolder mb-3">Cuestionario</h3>

  <h5>Inicializacion de un repositorio de git nuevo en una aplicacion existente</h5>

  <h5>Creacion de un Branch nuevo</h5>

  <h5>Realizar un commit incluyendo todos los cambios actuales</h5>

  <h5>Como enviar el codigo al repositorio remoto</h5>

  <h5>Como configurar el origen del repositorio remoto para evitar escribirlo siempre cada vez que se hace un push o un pull</h5>

  <h5>Diferencia entre un reset y revert</h5>

  <h5>Ademas de cambiar las ramas, para que mas se puede utilizar el comando git checkout</h5>

  <h5>Como puede ver los commits que se han realizado en el proyecto</h5>

  <h5>He modificado dos archivos y quiero hacer un comit por cada uno de ellos, como lo puedo hacer?</h5>
</main>