<%= render 'layouts/navbar'%>

<main class="container mt-5">
  <h3 class="fs-3 fw-bolder mb-3">Cuestionario</h3>
  <em class="mb-4 d-block"><%= @time %></em>

  <h5>Inicializacion de un repositorio de git nuevo en una aplicacion existente</h5>
  <pre>git init</pre>

  <h5>Creacion de un Branch nuevo</h5>
  <pre>git checkout -b new_branch</pre>
  <pre>git branch new_branch</pre>

  <h5>Realizar un commit incluyendo todos los cambios actuales</h5>
  <pre>git commit -a -m "my commit"</pre>

  <h5>Como enviar el codigo al repositorio remoto</h5>
  <pre>git push </pre>

  <h5>Como configurar el origen del repositorio remoto para evitar escribirlo siempre cada vez que se hace un push o un pull</h5>
  <pre>git remote add path_of_repository</pre>

  <h5>Diferencia entre un reset y revert</h5>
  <p>git revert crea un nuevo commit que deshace los cambios del anterior commit. Y git reset borra los cambios de los commits anteriores y el historial, y desplaza el HEAD al commit direccionado</p>

  <h5>Ademas de cambiar las ramas, para que mas se puede utilizar el comando git checkout</h5>
  <p>Para crear nuevas ramas con los cambios de la rama donde me encuentre</p>
  <pre>git checkout -b notifications</pre>

  <p>para sobreescribir informacion de una rama a otra o para mostrar diferencias</p>

  <h5>Como puede ver los commits que se han realizado en el proyecto</h5>
  <pre>git logs</pre>

  <h5>He modificado dos archivos y quiero hacer un comit por cada uno de ellos, como lo puedo hacer?</h5>
  <p>agregando primero uno de los archivos a stagin luego creando un commit para este. Despues se repite el proceso para el otro archivos</p>
  <pre>git add first_file</pre>
  <pre>git commit -m "first file commit"</pre>
</main>