

<main class="container main  mt-5">

  <section class="section">
    <h2 class="fs-3 fw-bolder text-center mb-0">Bienvenido a mi App</h2>
    <%= render 'layouts/navbar'%> 
  </section>

</main>



