<%= render 'layouts/navbar'%>


<main class="container mt-5">

  <h3 class="fs-3 fw-bolder mb-3">Cuestionario</h3>

  <h5>Que es un resource en el contexto de una aplicacion web REST en Ruby on Rails?</h5>
  <p>Resource permite declarar todas las rutas comunes para un controlador, es decir, crear las rutas para las acciones de Index, Show, Edit, etc.</p>

  <h5>Que puede hacerse con un resource?</h5>
  <p>Crear las rutas para un controlador vinculando las acciones del controlador con los verbos HTTP y sus rutas</p>

  <h5>Que es RESTful routing?</h5>
  <p>Es una convecion que permite vincular los metodos HTTP (GET, POST, DELETE) con acciones CRUD (Create, Update, Delete)</p>

  <h5>Cuantas acciones basicas tiene esta filosofia?</h5>
  <p>Tiene 7 acciones</p>

  <h5>Cuales son?</h5>
  <p>Index, New, Create, Show, Edit, Update, Destroy</p>

  <h5>Cuales verbos HTTP se utilizan en cada una de ellas?</h5>
  <ul>
  <li>Index - Get</li>
  <li>New - Get</li>
  <li>Create - Post</li>
  <li>Show - Get</li>
  <li>Edit - Get</li>
  <li>Update - Patch</li>
  <li>Destroy - Delete</li>
  </ul>
</main>



