<%= render 'layouts/navbar'%>

<main class="container mt-5">
  <h3 class="fs-3 fw-bolder mb-3">Cuestionario</h3>
  <em class="mb-4 d-block"><%= @time %></em>
  
  <h5>Interpolacion de strings</h5>
  <p>Se puede hacer interpolacion de string de las siguientes masneras:</p>
  <pre>"first_name " + "last_name"</pre>
  <pre>"name: #{user.name}"</pre>
  <pre>"Alfredo %s" % ['Rodriguez']</pre>

  <h5>Como se declara un array y como se adiciona un elemento al final del array</h5>
  <p>para definir un array se puede hacer de la siguiente manera: </p>
  <pre>array = []</pre>
  <pre>array = Array.new</pre>

  <p>Para insertar un elemento al final del array, se utiliza el metodo push</p>
  <pre>array.push(element)</pre>

  <h5>Como se itera un array utilizando el comando each</h5>
  <pre>users = ['sandra', 'luisa', 'carla']</pre>
  <pre>users.each {|name| puts name}</pre>
  
  <p>Otra forma seria</p>
  <pre>users.each do |name|</pre>
  <pre> puts name</pre>
  <pre>end</pre>


  <h5>Como se declara un hash</h5>
  <p>Lo puedes hacer de las siguientes maneras: </p>
  <pre>collection = hash.new</pre>
  <pre>collection = { artist: 'adele', artist: 'Ed Maverick' }</pre>
  <pre>collection = { :artist => 'adele', :artist => 'Ed Maverick' }</pre>


  <h5>Como se itera un hash utilizando el comando each</h5>
  <pre>collection.each { |key, value| puts "#{key}: #{value}" }</pre>

  <pre>collection.each  |key, value| </pre>
  <pre> puts "#{key}: #{value}"</pre>
  <pre>end</pre>

  <h5>Que es un block en Ruby? De un ejemplo de como utilizarlo</h5>
  <p>Un Block consiste en pedazos o partes de codigo que se encuentra dentro de dos {} (corchetes curvos) y que esta definido por un nombre. Por ejemplo:</p>
  <pre>my_block {
    my_code
    my_code
  }</pre>

  <h5>Cual es la convencion en Ruby a la hora de nombrar variables?</h5>
  <ul>
    <li>Debe estar en minusculas</li>
    <li>No empezar con ningun caracter especial</li>
    <li>Si contiene multiples palabras, separarlas por (_)</li>
    <li>Evitar variables de un caracter</li>
    <li>Variables descriptibas</li>

    <pre>first_name = 'fernando'</pre>
  </ul>

  <h5>Que son attr_reader, attr_writer y attr_accesor? Para que sirven?</h5>
  <p>Para exponer instancias de clase fuera de la clase se utilizan los attr_accesor, attr_reader, attr_writer.
  Estos son shortcuts que permiten crear metodos que crean los setter y getter el metodo.
  
  
  
  </p>
  <ul>
    <li>El attr_accesor permite escribir y obtener datos.</li>
    <li>El attr_reader permite solo leer datos.</li>
    <li>El attr_writer permite solo escribirlos.</li>
  </ul>



</main>



