// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap";

.container.main {
  inline-size: 100vw;
  min-block-size: 100vh;

  display: flex;
  place-content: center;
  place-items: center;

  section.section {
    inline-size: 100%;
    block-size: 100%;

    margin: auto;
    padding: 7%;

    border: 1px solid rgb(241, 175, 220);

    .nav_container {
      margin-top: 3%;

      .nav_container__list {
        place-content: center;
        place-items: center;

        padding-left: 0;
      }
    }
  }
}
